.nav_parent {
  border-bottom: 1px solid #dee2e6;
}
.nav_parent a {
  outline: none;
  margin-bottom: -1px;
  font-size: 1rem;
  font-weight: 400 !important;
  line-height: 1.5;
  color: #212529;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 0.5rem 1rem;
}
.nav_parent a.active {
  background-color: #fff;
  color: #495057;
  cursor: default;
  border: 1px solid #dee2e6;
  border-bottom-color: white;
}
.nav_parent a:hover {
  /*color: black;*/
  text-decoration: none;
}